<div style="padding-top:10px;">
  <h1>
    <img
      class="img233"
      src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
      alt="SERVER LOGO"
      width="80"
      height="80"
    />

    {{servidor.name}}</h1>
  <div class="content">
    <div class="data CardInfo">

      <h4>Datos del server</h4>
      <div
        style="display:grid; grid-template-columns:  repeat(3, 1fr); grid-column-gap: 10px;"
      >
        <div>
          <p>Miembros: {{data.members}}</p>
        </div>
        <div>
          <p>Bots: {{data.bots}}</p>
        </div>
        <div>
          <p>Id: {{data.id}}</p>
        </div>
        <div>
          <p>Text Channel: {{data.textChannel}}</p>
        </div>
        <div>
          <p>Voice Channel: {{data.voiceChannel}}</p>
        </div>
        <div>
          <p>2FA Mods: {{data.MFA}}</p>
        </div>
        <div>
          <p>Boots: {{data.tier}}</p>
        </div>
        <div>
          <p>Verificacion: {{data.verification}}</p>
        </div>
      </div>
    </div>
    <div class="premium CardInfo">
      <h4>Premiun</h4>
      {{#if premiun}}
        <p>Premiun Activado!!! <br />Hasta el 10 de julio </p>
      {{else}}

        <p>Este server no tiene premiun,
          <a href="/tienda">deseas compralo aqui</a>
        </p>
      {{/if}}
    </div>
    <div class="bot CardInfo">
      <h4>Configuracion del bot</h4>

      <form
        class="card-text"
        action="/dash/{{servidor.id}}/client"
        method="post"
      >
        <div
          style="display:grid; grid-template-columns: repeat(2, 60%); grid-column-gap: 50px;"
        >
          <div> <p>Logs: </p> </div>
          <div> <b class="mentionChannel">{{config.logs}}</b> </div>
          <div> <p>Bienvenidas:</p></div>
          <div> <b class="mentionChannel">{{config.welcome}}</b></div>
          <div> <p>Confeciones: </p> </div>
          <div> <b class="mentionChannel">{{config.confection}}</b></div>
          <div> <p>Confeciones Logs: </p> </div>
          <div> <b class="mentionChannel">{{config.confectionLogs}}</b></div>
          <div> <p>Sugerencias: </p> </div>
          <div><b class="mentionChannel">{{config.sugerencias}}</b></div>

          <label for="prefix">Prefix</label>
          <input
            placeholder="{{data.prefix}}"
            name="prefix"
            id="prefix"
            type="text"
            class="input"
            style="border-radius: 8px; padding: 6px; height: 30px"
          />

          <label for="nickname">Apodo</label>
          <input
            placeholder="{{data.name}}"
            name="nickname"
            id="nickname"
            type="text"
            class="input"
            style="border-radius: 8px; padding: 6px; height: 30px"
          />
        </div>
        <div style="display: grid; place-items: center;">

          <button class="btn btn-dark" type="submit">Guardar</button>
        </div>
      </form>

      <div
        style="display:grid; grid-template-columns:  repeat(3, 33%); grid-column-gap: 50px;"
      >

      </div>
    </div>
    <div class="logs CardInfo">
      <h4>Registro de cambios</h4>
      <div>
        <p class="logs" id="LOGS_{{success.type}}">{{success.msg}}</p>
      </div>
    </div>
  </div>
</div>