<div>
  <div>
    <h1 class="serverNav text-center display-3"><img
        class="img233"
        src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
        alt=""
        width="80"
        height="80"
      />
      {{servidor.name}}</h1>
    <h1 class="text-center">
    </h1>
    
  <div class="row flechas ">
    <div class="col-sm-6">
      <a href="/dash">
      <i class="fas fa-chevron-left fa-2x flecha"></i>
      </a>
      <!--a href="">
        <i class="fas fa-redo-alt fa-2x flecha" style="padding-right: 3px;"></i>
      </a-->
  </div>
</div>
</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Prefix</h5>
          <p class="card-text">Prefix actual: {{prefixMostrar}} </p>
          <p>{{Exitoid}}</p>
          <form
            class="card-text"
            action="/dash/{{servidor.id}}/prefix"
            method="post"
          >
            <p>Introdusca el nuevo prefix</p>
            <input
              placeholder="&"
              name="prefix"
              type="text"
              class="colorblack"
            />
            <button class="btn btn-dark" type="submit"><i class="far fa-save"></i>Guardar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Sugerencias</h5>
          <p class="card-text">Canal de sugerencias actual: <b class="mentionChannel">@{{su}}</b></p>
          <!--form class="card-text" action="" method="post">
            <p>Introdusca la ID del canal</p>
            <input
              placeholder="Por favor elige un canal..."
              type="text"
              class="colorblack"

            />
            <button class="btn btn-dark" type="submit">Cambiar</button>-->
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Confenciones</h5>
          <p class="card-text">Canal de confenciones actual: <b class="mentionChannel">@{{co}}</b></p>
          <!--form class="card-text" action="" method="post">
            <p>Introdusca la ID del canal</p>
            <input name="sugest" type="text" class="colorblack" />
            <button class="btn btn-dark" type="submit">Cambiar</button>
          </form>-->
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Confenciones logs</h5>
          <p class="card-text">Canal de logs de confenciones actual: <b class="mentionChannel">@{{col}}</b></p>
          <!--form class="card-text" action="" method="post">
            <p>Introdusca la ID del canal o el nombre</p>
            <input type="text" class="colorblack" />
            <button class="btn btn-dark" type="submit">Cambiar</button>
          </form>-->
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Bienvenidas</h5>
          <p class="card-text">Canal de Bienvenidas actual: <b class="mentionChannel">@{{bi}}</b></p>
          <!--form class="card-text" action="" method="post">
            <p>Introdusca la ID del canal o el nombre</p>
            <input type="text" class="colorblack" />
            <button class="btn btn-dark" type="submit">Cambiar</button>
          </form>-->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Warns logs</h5>
          <p class="card-text">Canal de Warns logs actual: <b class="mentionChannel">@{{wal}}</b></p>
          <!--form class="card-text" action="" method="post">
            <p>Introdusca la ID del canal o el nombre</p>
            <input type="text" class="colorblack" />
            <button class="btn btn-dark" type="submit">Cambiar</button>
          </form>-->
        </div>
      </div>
    </div>
  <!--/div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><img
              class="img23"
              src="https://cdn.discordapp.com/icons/{{servidor.id}}/{{servidor.icon}}.png"
              alt=""
              width="60"
              height="60"
            />Bienvenidas</h5>
          <p class="card-text">Canal de Bienvenidas actual: <b class="mentionChannel">@{{bi}}</b></p>
          <form class="card-text" action="/dash/{{servidor.id}}/bienve" method="post">
            <!--p>Introdusca la ID del canal o el nombre</p>
            <input type="text" class="colorblack" /->
            <textarea name="bienvenidatext" type="text" cols="100" rows="10"></textarea>
            <button class="btn btn-dark" type="submit">Cambiar</button>
          </form>
        </div>
      </div-->
  </div>
</div>