<div>
  <h1 class="cardperfil">
    <img
      class="avarperfil"
      src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.webp"
      alt=""
    />{{user.username}}
    <!--img
      class="badges"
      src="https://discordemoji.com/assets/emoji/4228_discord_bot_dev.png"
      alt=""
    />
    <img
      class="badges"
      src="https://media.discordapp.net/attachments/821747095865524274/848316428708872272/ban-hammer-anim.gif"
      alt=""
    /-->
  </h1>
</div>
<div class="descper text-center">
  <h2>Descripción</h2>
  <p>{{descrip}}</p>
  <hr />
  <img
    src="https://cdn.discordapp.com/avatars/332223388833677322/a_2323835c46528300a96a5429665a5c92.gif?size=4096"
    alt=""
  />
  <hr />
</div>
<div class="cardmuchs text-center row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <h3>
      <img
        src="https://canary.discord.com/assets/11b9d8164d204c7fd48a88a515745c1d.svg"
        width="8%"
        alt=""
      />
      Coins:
      {{coins}}</h3>
  </div>
  <div class="col">
    <h3>
      <img
        src="https://cdn.discordapp.com/avatars/763582048995639296/3375200c74d09ef219704dfee8a1ce58.webp?size=4096"
        width="8%"
        style="border-radius: 50px;"
        alt=""
      />
      Premiun:
      <b class="{{premiun}}">{{premiun}}</b></h3>
  </div>
  <div class="col">
    <h3>
      <img
        src="https://cdn.discordapp.com/emojis/602351552434405376.png?v=1"
        width="8%"
        style="border-radius: 50px;"
        alt=""
      />
      Emojis:
      {{emojis}}
    </h3>
  </div>
</div>